/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&amp;display=swap');

/* Principal Configuration */
:root {
  --main-color: #4A249D;
  --page-bgcolor: #fefef7;
  --container-color: #F6F5F5;
  --dark-color: #000;
  --light-color: #fff;
  --background-input: #F6F5F5;
  --border-input: #d2d2d2;
  --active-color: #6835d7;
  --small-text: #727272;
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --box-shadow-header: 0 4px 30px rgba(0, 0, 0, 0.4);
}

.Dark_Mode {
  --main-color: #3FA2F6;
  --page-bgcolor: #171717;
  --container-color: #667BC6;
  --dark-color: #fff;
  --light-color: #000;
  --background-input: #181D27;
  --border-input: #c6c6c6;
  --active-color: #00d5ff;
  --small-text: #c5c5c5;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  background: var(--page-bgcolor);
  position: relative;
  overflow-x: hidden !important;
}

.container {
  width: 1140px;
  padding: 0 15px;
  margin: auto;
}

.description,
p {
  color: var(--dark-color);
  font-size: 1rem;
  text-wrap: balance;
  margin: 30px 0;
}

section {
  padding: 60px 0;
}

h1,
h2 {
  color: var(--dark-color);
  font-size: 2rem;
  line-height: 2.1rem;
}

a {
  text-decoration: none;
  color: var(--dark-color);
  cursor: pointer;
}

button,
.primary_btn {
  border: none;
  outline: none;
  padding: 8px 15px;
  border-radius: .4rem;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: .5s;
  display: inline-block;
  color: var(--dark-color);
}

button:hover,
.primary_btn:hover {
  opacity: .8;
}

button:active,
.primary_btn:active {
  opacity: .9;
}

/* Loader */
.LoaderWrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999999999999999999999999;
  background: var(--page-bgcolor);
}

.loader {
  width: 48px;
  height: 48px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader:before {
  content: '';
  width: 48px;
  height: 5px;
  background: var(--container-color);
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 50%;
  animation: shadow324 0.5s linear infinite;
}

.loader:after {
  content: '';
  width: 100%;
  height: 100%;
  background: var(--main-color);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  animation: jump7456 0.5s linear infinite;
}

/* Keyframes */
@keyframes jump7456 {
  15% {
    border-bottom-right-radius: 3px;
  }

  25% {
    transform: translateY(9px) rotate(22.5deg);
  }

  50% {
    transform: translateY(18px) scale(1, .9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75% {
    transform: translateY(9px) rotate(67.5deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow324 {

  0%,
  100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1);
  }
}

/* Button Scroll to Top */
.ButtonScrollTop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: none;
  z-index: 5;
}

.ButtonScrollTop button {
  background: var(--main-color);
  color: var(--light-color);
  box-shadow: var(--box-shadow);
  border-radius: 16px;
}

/* Blurs */
.blur,
.blur1,
.blur2 {
  position: absolute;
}

/* Notification */
.Notification{
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 700000999;
  padding: 16px 12px;
  background: green;
  border-radius: 5px;
  display: none;
  width: 400px;
  text-align: center;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
}


/* Media Queries */
@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  section {
    padding: 40px 0;
  }

  .loader:before {
    top: 50px;
  }
}

@media only screen and (max-width:400px){
  .Notification{
    width: 95%;
    left: 50%;
    right: unset !important;
    transform: translate(-50%,50%);
  }
}