  /* Footer  */

  .footer {
    padding: 40px 0px;
    --copyright-color:#949494;
  }

  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 2.7rem;
    align-items: flex-start;
  }

  .footer__logo {
    width: 40%;
    position: relative;
  }

  .footer__quick__links {
    width: 20%;
  }
  .Fotter_Newsletter{
    width: 30%;
  }
  .footer__logo h2 {
    color:var(--main-color);
    margin: 10px 0;
  }

  .small__text {
    font-size: 1rem;
    margin-top: 30px;
  }

  .quick__links__title {
    font-size: 1.1rem;
    color:var(--main-color);
    font-weight: 500;
    margin-bottom: 30px;
  }

  .quick_link {
    list-style: none;
  }

  .quicks_links_item {
    margin-bottom: 30px;
  }

  .quicks_links_item a {
    font-size: .9rem;
    font-weight: 300;
    cursor: pointer;
  }

  .quicks_links_item a:hover {
    color: var(--main-color);
  }

  .quick_link form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 1rem;
  }
  .quick_link form .newsletter{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
  }
  .quick_link form .newsletter:first-child{
    background: #fff;
    border: 1px solid var(--border-input);
  }
  .quick_link form .newsletter:last-child{
    background: var(--main-color); 
   }
  .quick_link form .newsletter input,.quick_link form .newsletter button{
    width: 100%;
    outline: none;
    border: none;
    font-size: .9rem;
  }
  .quick_link form .newsletter button{
    border-radius:0;
    background: transparent;
    margin: 0;
    padding: 0;
    color: var(--light-color);
  }
  .copyright {
    text-align: center;
    margin-top: 30px;
    padding-top: 30px;
    color:var(--copyright-color);
    font-size: .9rem;
    font-weight: 400;
    border-top: 1px solid var(--copyright-color);
  }

  .copyright span{
    color: var(--main-color);
  }
  @media only screen and (max-width:768px){
    .footer__logo{
        width: 50%;
    }
    .footer__wrapper{
    flex-wrap: wrap; 
    column-gap: 1.5rem !important;
    row-gap: 1.5rem;
    }
    .footer__logo h2{
        font-size: 1.5rem;
    }
    .Fotter_Newsletter{
      width: 47%;
    }
  }

  @media only screen and (max-width:585px){
    .footer__quick__links{
        width: 47%;
    }
    .footer__logo{
        width: 47%;
    }
  }
  @media only screen and (max-width:430px){
    .Fotter_Newsletter,
    .footer__quick__links,
    .footer__logo{
      width: 100%;
    }
  }