.modalWorks{
    --small-title:var(--border-input);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.506);
    z-index: 9999999999;
    overflow: auto;
    display: none;
}
.modalWorksActive{
    display: block;
}
.WorksContainer{
    padding: 30px;
    width: 90%;
    height:auto;
    background: var(--page-bgcolor);
    overflow-x: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 12px;
}
.ModalClose{
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 10px;
    cursor: pointer;
}
.ModalClose i{
    font-size: 1.5rem;
    color: var(--dark-color);
}
.WorksContainer_wrapper{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
}
.leftModalImg{
    flex: 1;
    flex-basis: 300px;
}
.RightModalContent{
    flex: 1;
    flex-basis: 300px; 
}
.leftModalImg img{
    width: 100%;
    border-radius: 12px;
}
.RightModalContent h4{
    color: var(--small-title);
    font-weight: 400;
    margin: 5px 0;
}
.RightModalContent h2{
    color: var(--main-color);
}
.RightModalContent p{
    margin: 20px 0;
}
.modal_btn button{
    margin-right: 10px;
    background: transparent;
    border: 1px solid var(--main-color);
    font-weight: 400;
    font-size: 1rem;
}
.modal_btn button:hover i{
    color: var(--main-color);
}
@media only screen and (max-width:500px){
    .WorksContainer{
        height: 100%;
        width: 100%;
    }
    .RightModalContent h4{
        font-size: .9rem;
    }
    .RightModalContent h2{
        font-size: 1.3rem;
    }
    .RightModalContent p{
       font-size: .9rem;
    }
    .modal_btn button{
       font-size: .9rem;
    }
}