/* --- Testimonials Wrapper --- */
.testimonials__wrapper {
    position: relative;
}

.testimonials__wrapper .blur3 {
    position: absolute;
    box-shadow: 0 0 1000px 40px var(--active-color);
    z-index: -3;
    top: 70px;
    right: 0;
}

/* --- Testimonials Right Section --- */
.testimonials__right {
    width: 100%;
    overflow: hidden;
}

.testimonials__right .swiper {
    width: 100%;
    height: auto;
    padding: 40px 20px;
}

.testimonials__right .swiper-slide {
    background: var(--background-input);
    border-radius: 12px;
    padding: 40px 30px;
    text-align: center;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    position: relative;
}

/* --- Swiper Pagination Styles --- */
.testimonials__right .swiper-pagination {
    position: relative;
    margin-top: 1rem;
}

.testimonials__right .swiper-pagination-bullet-active {
    background-color: var(--main-color);
}

.Dark_Mode .testimonials__right .swiper-pagination-bullet {
    background-color: var(--main-color);
}

/* --- Swiper Slide Text Styles --- */
.testimonials__right .swiper-slide p {
    font-size: .9rem;
    font-weight: 500;
    margin-top: 1rem;
    color: var(--dark-color);
}

/* --- Customer Details Styles --- */
.customers__details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.customers__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
   position: relative;
}

.customers__img i {
    font-size: .9rem;
    color: var(--light-color);
    position: absolute;
    left: -10px;
    top: 0;
    padding: 8px;
    background: var(--main-color);
    border-radius: 50%;
}

.customers__img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-right: 7px solid var(--main-color);
    object-fit: cover;
}

.customer__name {
    font-size: 1rem;
    color: var(--dark-color);
    font-weight: bold;
    line-height: 12px;
}

.customerNm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1px;
}

.customers__details small {
    color: var(--small-text);
    font-weight: 100;
    font-size: .8rem;
}

.customers_Star{
    display: flex;
    align-items: center;
    justify-content: center;
}
.customers_Star i{
    font-size: 1.2rem;
    color:var(--main-color);
}
