.BlogPage_wrapper{
    display: flex;
    align-items:flex-start;
    justify-content: center;
    gap: 2.5rem;
    flex-wrap: wrap;
    --blog-text:#484848;
}
.Dark_Mode .BlogPage_wrapper{
    --container-color:#181D27;
    --blog-text:#c9c9c9;
}
.BlogPage_left{
    width: 65%;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    gap: 2rem;
    flex-direction: column;
    flex: 1;
    flex-basis: 500px;
}
.BlogPage_right{
    width: 35%;
    flex: 1;
    flex-basis: 200px;
}
.BlogPage_item{
    width: 100%;
    background: var(--container-color);
    box-shadow: var(--box-shadow);
    border-radius: 12px;
    cursor: pointer;
}
.content_img{
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 320px;
    position: relative;
}
.BlogPage_item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    transition: .5s ease;
    cursor: pointer;
}
.BlogPage_item img:hover {
    transform:scale(1.1);
}
.content_blogPage{
    padding: 16px 20px;
}
.content_blogPage .admin{
    display: flex;
    align-items: center;
    gap: 1.3rem;
    color: var(--dark-color);
    flex-wrap: wrap;
}
.content_blogPage .admin span{
    flex: 1;
    flex-basis: 100px;
}
.content_blogPage .admin span i{
    margin-right: 5px;
}
.content_blogPage h2{
    margin-top: 12px;
    color: var(--main-color);
    line-height: 2rem;
}
.content_blogPage p{
    font-size: 1rem;
    color: var(--blog-text);
    text-wrap:wrap;
}
.content_blogPage .primary_btn{
    background: var(--main-color);
}
.primary_btn a{
color: var(--light-color);
}
.Blognavigation{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.Blognavigation button{
    padding:10px;
    width: 50px;
    border-radius: 100%;
    background:transparent;
}
.Blognavigation button:hover ,.active_blogbtn{
    background: var(--main-color) !important;
    color: var(--light-color);
}
/* ----------------------------- */

.blogPanel{
    background: var(--container-color);
    border-radius: 12px;
    padding: 24px 20px;
    box-shadow: var(--box-shadow);
    margin-bottom: 2.5rem;

}
.blogPanel form div{
    display: flex;
    border-radius: 10px;
    background: transparent;
    border: 1px solid #bababa;
    justify-content: center;
}
.blogPanel form input{
    border: none;
    outline: none;
    background: transparent;
    width: 90%;
    font-size: 1.2rem;
    padding: 10px 16px;
    border-radius: 10px;
    color: var(--dark-color);
}
.blogPanel form button{
    color:var(--dark-color);
    background:transparent;
    padding: 10px 16px;
    font-size: 1.3rem;
    font-weight: 100;
}
.blogPanel h3{
    color: var(--main-color);
    font-size: 1.4rem;
}
.blogPanel ul{
    margin-top: 10px;
}
.blogPanel ul li{
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    color: var(--dark-color);
}
.blogPanel ul li span:nth-child(2){
    color: var(--main-color);
}
.blogPanel ul .BlogPost{
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}
.blogPanel ul li img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius:8px ;
    margin-right: 10px;
    flex: 1;
    flex-basis: 100px;
}
.blogPanel ul li .postDetail{
    display: flex;
    flex-direction: column;
    gap: .8rem;
    flex: 1;
    flex-basis: 200px;
}
.blogPanel ul li .postDetail h4{
    line-height: 1rem;
}
.blogPanel ul li .postDetail h4:hover{
    color: var(--main-color);
    transition: .5s;
}
.blogPanel ul li .postDetail div{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.blogPanel ul li .postDetail div span i{
    color: var(--main-color);
    font-size: 1rem;
}
.blogPanel ul li .postDetail div span small{
    color: var(--blog-text);
    margin-left: 3px;
}
.Tagbtn{
    display: flex;
    gap: .7rem;
    flex-wrap: wrap;
    margin-top: 10px;
}
.Tagbtn button{
    background: transparent;
    border: 1px solid var(--blog-text);
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: 400;
}

@media (max-width:992px){
    .content_blogPage .admin span{
        font-size: .9rem;
    }
    .content_blogPage h2{
         font-style: 1.8rem;
         line-height: 1.8rem;
    }
    .content_blogPage p{
        font-size: .9rem;
    }
    .content_blogPage .primary_btn,.Blognavigation button{
        font-size: 1rem;
    }
    .blogPanel h3{
        font-size: 1.2rem;
    }
    .blogPanel ul li{
        font-size: .9rem;
    }
    .blogPanel ul li .postDetail div span,
    .blogPanel ul li .postDetail div span i{
        font-size: .9rem;
    }
}